<h1>Client List</h1>
<hr>

<table class="mt-5 table animated fadeIn fast">
    <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Paid</th>
          <th scope="col">Status</th>
          <th scope="col">Toll</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes ; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{heroe.name}}</td>
          <td>{{heroe.product}}</td>
          <td>{{heroe.price}}</td>
          <td>{{heroe.paid}}</td>

          <td>
              <label *ngIf="heroe.status" class="badge bg-success">Paid</label>
              <label *ngIf="!heroe.status" class="badge bg-danger">No Paid</label>
          </td>

          <td>
              <button class="btn btn-info m-1" [routerLink]="['/heroe', heroe.id]" >
                  <i class="fa fa-pen"></i>
              </button>
              <button class="btn btn-danger m-1" (click)="deleteClient(heroe, i)">
                <i class="fa fa-trash"></i>
            </button>

          </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col text-end">
        <button routerLink="/heroe/nuevo"
        class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add 
        </button>
    </div>
</div>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert heading">Loading...</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p>
        Please wait
    </p>
</div>

<div class="alert alert-warning text-center mt-3">
    <h4 class="alert heading">There is not data</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>